extends layout.jade
block title
  |选择题
block body
  //来源
  include module/origin.jade
  //介绍
  include module/instruction.jade
  //题干
  include module/fillblank_row_stem.jade
  <hr/>
  //答案
  include module/answer.jade
  <hr/>
  
  each val, index in ['(1)', '(2)']
    p.res_solution_method
      span= val 
    each val2, index in ['解法一', '解法二']
      p.solution_method
        span= val2 
      //解析
      include module/analisis.jade
      //答案
      include module/res_answer.jade

  //考点
  include module/knowledge.jade
  //解题方法
  include module/process.jade
  //相关考点
  include module/related_knowledge.jade
  //难度
  include module/difficulty.jade