- var choice = {
  origins: "来源：2014年6月大学",
  instruction: "题型：填空题",
  row-stem: "题干：已知函数y=-(x-m)(x-n)（其中m<n）的图象如图所示，则一次函数y=mx+n与反比例函数y=mn，以下选项中正确的是：",
  options: "选项：",
  answer: "答案：",
  analysis: "解析：",
  solution_tabs: "解题过程："
  knowledges: "考点：",
  solution: "",
  relation_knowledges: "相关考点",
  difficulty: "2"}