article.row_stem
  p.richtext 
    span.type
      |(选择题)
    |题目题干已知函数y=-(x-m)(x-n)（其中mn）的图象如图所示，则一次函数表达式为：<span class="placeholder">（1）</span>y=mx+n与反比例函数y的反比例为：<span class="placeholder">（2）</span>
    img(src='image/test.png' class='row_stem_img')
